@media screen and (min-width: 992px) {
    .top .logo img {
        height: 166px;
        width: 161px;
    }

    .top .logo {
        margin-left: 55px;
    }


    .header .top .followers {
        font-size: 17px;
    }

    .header .top h1 {
        font-size: 30px;
        margin-top: 40px;
    }

    .top .button_header {
        margin-top: 40px;
        font-size: 14px;
    }

    .top .followers {
        margin-top: 19px;
    }

}

@media screen and (min-width: 768px) {
    .top.followers {
        font-size: 14px;
    }

    .top h1 {
        font-size: 25px;
    }
    body .followers div{
        margin-right: 20px;
    }
}

/*header*/

.header {
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    min-height: 198px;
    text-align: center;
}

.logo img {
    height: 120px;
    width: 120px;
}

h1 {
    color: #262626;
    font-family: "Myriad Pro", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 12px;
    text-align: left;
}

.button_header {
    min-width: 100px;
    margin-top: 10px;
    border: 1px solid #4090db;
    box-sizing: border-box;
    border-radius: 2px;
    color: #4090db;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 22px;
    min-height: 25px;
    text-align: center;
}

.followers {
    margin-left: 15px;
    margin-top: 10px;
    color: #3d4044;
    font-size: 11px;
    font-family: "Proxima Nova - Regular", sans-serif;
    font-weight: 400;
    text-align: left;
}
.followers div{
    display: inline-block;
    margin-right: 10px;
}
.followers span {
    text-align: center;
    font-family: "Proxima Nova Rg", sans-serif;
    font-weight: 700;
}

.form-group img{
    width: 18px;
    height: 18px;
}

.date{
    color: #262626;
    font-family: Tahoma,sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 29px;

}

/*gallery*/

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
    margin-top: 56px;
}

.block1 {
    background:url("../images/gallery/block1.png") rgba(0, 0, 0, 0.5) ;
    background-blend-mode: overlay;
}

.block2 {
    background: url("../images/gallery/block2.png")rgba(0, 0, 0, 0.5) ;
    background-blend-mode: overlay;
}

.block3 {
    background: url("../images/gallery/block3.png")rgba(0, 0, 0, 0.5) ;
    background-blend-mode: overlay;
}

.block4 {
    background: url("../images/gallery/block4.png")rgba(0, 0, 0, 0.5) ;
    background-blend-mode: overlay;
}

.block5 {
    background: url("../images/gallery/block5.png")rgba(0, 0, 0, 0.5) ;
    background-blend-mode: overlay;
}

.block6 {
    background: url("../images/gallery/block6.png")rgba(0, 0, 0, 0.5) ;
    background-blend-mode: overlay;
}

.block7 {
    background: url("../images/gallery/block7.png")rgba(0, 0, 0, 0.5) ;
    background-blend-mode: overlay;
}

.block8 {
    background: url("../images/gallery/block8.png")rgba(0, 0, 0, 0.5) ;
    background-blend-mode: overlay;
}

.block9 {
    background: url("../images/gallery/block9.png")rgba(0, 0, 0, 0.5) ;
    background-blend-mode: overlay;
}

.image_gallery {
    margin: 15px 15px;
    width: 292px;
    height: 292px;
}

.image_gallery div{
    color: #ffffff;
    font-family: "Proxima Nova - Semibold", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.comments{
    position: relative;
    padding-left: 15px;

}

.comments:after{
    content: "";
    background: url("../images/gallery/comment.png");
    height: 17px;
    width: 17px;
    position: absolute;
    top: 2px;
    left: 0;
}

.button_gallery{
    text-align: center;
}

button{
    width: 124px;
    height: 28px;
    border: 1px solid #000000;
    border-radius: 50px;
    background-color: #fafafa;
    margin-bottom: 75px;
    cursor: pointer;
    outline: none;
    margin-top: 45px;
}

button:active {
background:#000000;
    color:white;

}

.likes{
    font-size: 25px;
    color: white;
    position: relative;
    cursor: pointer;
    padding-left: 20px;
}

.likes:after{
    content: "";
    position: absolute;
    background: url("../images/gallery/heart.png") no-repeat;
    height: 19px;
    width: 25px;
    top: 0;
    left: 0;
}

.text_today{
    margin-top: 170px;
}

.today{
    text-align: left;
}
.text_date{
    margin-top: 15px;
}

.bottom_text{
    margin-top:20px;
}